/*Contact sectiom*/
.content-header {
  font-family: "Oleo Script", cursive;
  color: #fcc500;
  font-size: 45px;
}

.section-content {
  text-align: center;
  margin-top: 80px;
}
#contact {
  font-family: "Teko", sans-serif;
  padding-top: 60px;
  width: 100%;
  width: 100vw;
  height: 700px;
  background: #3a6186;
  background: linear-gradient(to left, #bd7d2b, #ad2716);
  color: #fff;
}
.contact-section {
  padding-top: 40px;
}
.contact-section .col-md-6 {
  width: 50%;
}

.form-line {
  border-right: 1px solid #b29999;
}

.form-group {
  margin-top: 10px;
}
label {
  font-size: 1.3em;
  line-height: 1em;
  font-weight: normal;
}
.form-control {
  font-size: 1.3em;
  color: #080808;
}
textarea.form-control {
  height: 135px;
  /* margin-top: px;*/
}

.submit {
  font-size: 1.1em;
  float: right;
  width: 150px;
  background-color: transparent;
  color: #fff;
}
