<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a [routerLink]="['/shop']" class="navbar-brand"
    ><img src="../assets/bon.png" width="60px" height="55px"
  /></a>
  <button class="navbar-toggler" type="button" data-target="#navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="actif" [routerLink]="['/shop']"
          >Shop</a
        >
      </li>

      <li class="nav-item active">
        <a class="nav-link" routerLinkActive="actif" [routerLink]="['/contact']"
          >Contact Us</a
        >
      </li>

      <li class="nav-item active">
        <a
          class="nav-link"
          routerLinkActive="actif"
          [routerLink]="['/modification']"
          >Modification</a
        >
      </li>
    </ul>
  </div>
</nav>
