div.dec,
div.inc {
  width: 35px;
  height: 35px;
  color: #4d3737;
  font: 24px Lato, sans-serif;
}
#qua {
  width: 40px;
  height: 35px;
}

img {
  border: 1px solid rgb(235, 229, 229);
}
td {
  padding: 20px;
}
.container {
  border: 2px solid black;
}
table td {
  font-size: 20px;
}
